extends layout.jade

block content

    div(class="container")
        div(class="row")
            div(class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1")
                div(class="row")
                    // Begin MailChimp Signup Form
                    #mc_embed_signup
                        form#mc-embedded-subscribe-form.validate(action='//herokuapp.us10.list-manage.com/subscribe/post?u=a489e275b5f5426a0ef3d30d4&id=8ee3b3f6b2', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                            #mc_embed_signup_scroll
                                .mc-field-group
                                    input#mce-EMAIL.required.email(class="form-control input-lg big-padding", type='email', value='', name='EMAIL', placeholder="Email")
                                #mce-responses.clear
                                    #mce-error-response.response(style='display:none')
                                    | &#x9;&#x9;
                                    #mce-success-response.response(style='display:none')
                                // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                                div(style='position: absolute; left: -5000px;')
                                    input(type='text', name='b_a489e275b5f5426a0ef3d30d4_8ee3b3f6b2', tabindex='-1', value='')
                                .clear
                                    div(class="col-md-6 col-md-offset-3")
                                        input#mc-embedded-subscribe.button(class="btn btn-default btn-lg btn-block outline", type='submit', value='Subscribe', name='subscribe')    

        div(class="row")
            div(class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3")
                button(id="howToButton",type="button",class="btn btn-default btn-lg btn-block outline top-padding") Teach me how
        
        div(id="howToDiv", style="display:none", class="row")
            div(class="col-md-6 col-xs-12 how-to-color", role="navigation")
                ul(class="nav nav-tabs nav-justified how-to")
                    li(role="presentation",class="active")
                        a(id="new-tweet-btn") New Tweet
                    li(role="presentation")
                        a(id="retweet-btn") Retweet
                div(id="howToTweet", style="display:block")
                    h4 Testing
                div(id="howToRetweet", style="display:none")
                    h4 WOOT


            div(class="col-md-5 col-xs-12")
                    div(class="twitter-feed")
                        a(class="twitter-timeline",href="https://twitter.com/hashtag/GivingWithGiveHub",data-widget-id="587056023506026496") #GivingWithGiveHub Tweets
                        script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

        div(class="row")
            div(class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3")
                a(href="#organizations",role="button",class="btn btn-default btn-lg btn-block outline top-padding") I represent a charity
    
    div(class="container-fluid organization-container",id="organizations") 
        div(class="container")
            h2 Partnered Charities
            div(class="row")
                div(class="col-md-6 col-xs-12")
                    div(class="curved-border")
                        h3 Participate
                        p.black If you want to register your charity with us and launch with us, please register here and we will contact you:
                            div(class="col-xs-10 col-xs-offset-1")
                                div(class="row")
                                    #mc_embed_signup
                                        form#mc-embedded-subscribe-form.validate(action='//herokuapp.us10.list-manage.com/subscribe/post?u=a489e275b5f5426a0ef3d30d4&id=f5f55ffd21', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                                            #mc_embed_signup_scroll
                                                input#mce-EMAIL.required.email(class="form-control input-lg bot-padding", type='email', value='', name='EMAIL',placeholder="Email")
                                                #mce-responses.clear
                                                    #mce-error-response.response(style='display:none')
                                                    | &#x9;&#x9;
                                                    #mce-success-response.response(style='display:none')
                                                // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                                                div(style='position: absolute; left: -5000px;')
                                                    input(type='text', name='b_a489e275b5f5426a0ef3d30d4_f5f55ffd21', tabindex='-1', value='')
                                                .clear
                                                    div(class="col-md-6 col-md-offset-3")
                                                        input#mc-embedded-subscribe.button(type='submit', class="btn btn-default btn-lg btn-block outline", value='Subscribe', name='subscribe')
                div(class="col-md-5 col-xs-12")
                    div(class="twitter-feed")
                        a(class="twitter-timeline",href="https://twitter.com/hashtag/GivingWithGiveHub",data-widget-id="587056023506026496") #GivingWithGiveHub Tweets
                        script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


                        